<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}


    <main class="page-content" aria-label="Content" style="background-image: linear-gradient(120deg, #155799, #159957); font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: white;">
      <div class="wrapper">
        {%- include breadcrumbs.html -%}
        <div class="aside_reg" >
          <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=VUIF41YjAU2H6BEeteoS4LGYf9e_wDFGo65PpU1kp0pUMFJHMVROTlZWQ1IwMVlNWTlJWUhaRE83Ty4u" target="_blank">
            <button class="favorite styled" type="button">
                Register Your Team
            </button>
          </a>
        </div>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>