---
layout: page
---

{{ content }}

<ul class="grid" style="color: #17479E;">
  {% for project in site.projects %}
    <li class="project">
      <h3>Project {{ project.number }}: <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h3>
      {{ project.content | truncatewords: 50 }}
    </li>
  {% endfor %}
</ul>

<table class="team-list">
  {% for project in site.projects %}
    <tr>
      <li class="project">
        <td>
          <h3>Project {{ project.number }}: <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h3>
        </td>
        <td>
          {{ project.content | truncatewords: 50 }}
        </td>
      </li>
    </tr>
  {% endfor %}
</table>