---
layout: default
---
<article class="post" style="color: #17479E;">

<div class="page-content" aria-label="Content" style="background: white; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #17479E;">
<section>
<div class="wrapper">
  <header class="post-header">
    <h1>
      Problem Statement {{ page.number }}:<br>
      {{ page.title | escape }}
    </h1>
    
  </header>
  
  <div class="post-content">
    {{ content }}
  </div>
    
  <p><a href="{{ site.baseurl }}{% link projects.md %}">← Back to problem statement list</a></p>

</article>
</div>
</section>
</div>
